@font-face {
    font-family: 'EnjoyneyIconFont';
    src:    url('fonts/EnjoyneyIconFont.eot?wonbso');
    src:    url('fonts/EnjoyneyIconFont.eot?wonbso#iefix') format('embedded-opentype'),
        url('fonts/EnjoyneyIconFont.woff2?wonbso') format('woff2'),
        url('fonts/EnjoyneyIconFont.ttf?wonbso') format('truetype'),
        url('fonts/EnjoyneyIconFont.woff?wonbso') format('woff'),
        url('fonts/EnjoyneyIconFont.svg?wonbso#EnjoyneyIconFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'EnjoyneyIconFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-martini-o:before {
    content: "\e939";
}
.i-martini:before {
    content: "\e93a";
}
.i-circle-o2:before {
    content: "\f10c";
}
.i-circle2:before {
    content: "\f111";
}
.i-circle-thin2:before {
    content: "\f1db";
}
.i-logo-solid-alt:before {
    content: "\e937";
}
.i-logo-solid:before {
    content: "\e938";
}
.i-night:before {
    content: "\e909";
}
.i-afternoon:before {
    content: "\e999";
}
.i-morning:before {
    content: "\e99d";
}
.i-sun-set:before {
    content: "\e99f";
}
.i-sunrise-arrow:before {
    content: "\e9a1";
}
.i-sunset-arrow:before {
    content: "\e9a3";
}
.i-arrow-2-thin-left:before {
    content: "\e094";
}
.i-arrow-2-thin-right:before {
    content: "\e095";
}
.i-arrow-2-thin-up:before {
    content: "\e096";
}
.i-arrow-2-thin-down:before {
    content: "\e097";
}
.i-arrow-2-up:before {
    content: "\e907";
}
.i-arrow-2-right:before {
    content: "\e908";
}
.i-arrow-2-down:before {
    content: "\e90a";
}
.i-arrow-2-left:before {
    content: "\e90b";
}
.i-arrow-down2:before {
    content: "\e90c";
}
.i-arrow-left2:before {
    content: "\e90d";
}
.i-arrow-right2:before {
    content: "\e90e";
}
.i-arrow-up2:before {
    content: "\e90f";
}
.i-arrow-thin-down:before {
    content: "\e910";
}
.i-arrow-thin-left:before {
    content: "\e911";
}
.i-arrow-thin-right:before {
    content: "\e912";
}
.i-arrow-thin-up:before {
    content: "\e913";
}
.i-arrow-down22:before {
    content: "\e914";
}
.i-arrow-left22:before {
    content: "\e915";
}
.i-arrow-right22:before {
    content: "\e916";
}
.i-arrow-up22:before {
    content: "\e917";
}
.i-arrow-thin-down2:before {
    content: "\e918";
}
.i-arrow-thin-left2:before {
    content: "\e919";
}
.i-arrow-thin-right2:before {
    content: "\e91a";
}
.i-arrow-thin-up2:before {
    content: "\e91b";
}
.i-camera2:before {
    content: "\e97e";
}
.i-circle-dashed:before {
    content: "\e902";
}
.i-date:before {
    content: "\e903";
}
.i-time:before {
    content: "\e904";
}
.i-dollar2:before {
    content: "\e905";
}
.i-duration:before {
    content: "\e906";
}
.i-location:before {
    content: "\e92d";
}
.i-map3:before {
    content: "\e834";
}
.i-advice-1:before {
    content: "\e900";
}
.i-advice:before {
    content: "\e901";
}
.i-tour:before {
    content: "\e946";
}
.i-wellness-1:before {
    content: "\e91c";
}
.i-wellness:before {
    content: "\e947";
}
.i-translator:before {
    content: "\e948";
}
.i-translator-1:before {
    content: "\e923";
}
.i-nearby:before {
    content: "\e949";
}
.i-networking:before {
    content: "\e94a";
}
.i-nightlife:before {
    content: "\e94c";
}
.i-fitness:before {
    content: "\e94d";
}
.i-foodie:before {
    content: "\e94f";
}
.i-foodie-1:before {
    content: "\e94e";
}
.i-job-1:before {
    content: "\e950";
}
.i-job:before {
    content: "\e951";
}
.i-sales-1:before {
    content: "\e964";
}
.i-sales:before {
    content: "\e960";
}
.i-note:before {
    content: "\e952";
}
.i-alarm:before {
    content: "\e858";
}
.i-feedback:before {
    content: "\e957";
}
.i-payment:before {
    content: "\e927";
}
.i-setting:before {
    content: "\e930";
}
.i-support2:before {
    content: "\e931";
}
.i-terms:before {
    content: "\e6a6";
}
.i-people-1-add:before {
    content: "\e959";
}
.i-people-1-check:before {
    content: "\e95a";
}
.i-people-1-minus:before {
    content: "\e95b";
}
.i-people-1:before {
    content: "\e82a";
}
.i-people-2-add:before {
    content: "\e95d";
}
.i-people-2-minus:before {
    content: "\e95e";
}
.i-people-2:before {
    content: "\e95f";
}
.i-people-add-o:before {
    content: "\e925";
}
.i-people-add:before {
    content: "\e961";
}
.i-people-check-o:before {
    content: "\e92e";
}
.i-people-check:before {
    content: "\e962";
}
.i-people-minus-o:before {
    content: "\e963";
}
.i-people-minus:before {
    content: "\e92f";
}
.i-tb-hub-s:before {
    content: "\e965";
}
.i-tb-hub:before {
    content: "\e966";
}
.i-tb-message-s:before {
    content: "\e967";
}
.i-tb-message:before {
    content: "\e968";
}
.i-tb-more-s:before {
    content: "\e969";
}
.i-tb-more:before {
    content: "\e96a";
}
.i-tb-nearby-s:before {
    content: "\e96b";
}
.i-tb-nearby:before {
    content: "\e96c";
}
.i-tb-people-s:before {
    content: "\e96d";
}
.i-tb-people:before {
    content: "\e96e";
}
.i-tb-message-1:before {
    content: "\e91d";
}
.i-tb-message-1-s:before {
    content: "\e91e";
}
.i-map-location-s:before {
    content: "\e921";
}
.i-map-location:before {
    content: "\e922";
}
.i-search2:before {
    content: "\f002";
}
.i-magnifier:before {
    content: "\e86f";
}
.i-heart2:before {
    content: "\f004";
}
.i-heart-o2:before {
    content: "\f08a";
}
.i-star2:before {
    content: "\e982";
}
.i-star-half2:before {
    content: "\e983";
}
.i-star-o2:before {
    content: "\e984";
}
.i-star-1:before {
    content: "\f005";
}
.i-star-1-half:before {
    content: "\f123";
}
.i-star-1-o:before {
    content: "\f006";
}
.i-star-lg:before {
    content: "\e924";
}
.i-star-lg-o:before {
    content: "\e926";
}
.i-chevron-right-circle:before {
    content: "\e88a";
}
.i-expansion-lg:before {
    content: "\e88a";
}
.i-circle-check-solid-s:before {
    content: "\e971";
}
.i-circle-check-o:before {
    content: "\e970";
}
.i-circle-check:before {
    content: "\e972";
}
.i-circle-cross-o:before {
    content: "\e973";
}
.i-circle-cross:before {
    content: "\e974";
}
.i-circle-plus-o:before {
    content: "\e975";
}
.i-circle-plus:before {
    content: "\e976";
}
.i-circle-check-2-o:before {
    content: "\e87f";
}
.i-circle-cross-2-o:before {
    content: "\e880";
}
.i-circle-plus-2-o:before {
    content: "\e881";
}
.i-circle-minus-2-o:before {
    content: "\e882";
}
.i-check2:before {
    content: "\e935";
}
.i-check-o:before {
    content: "\e936";
}
.i-check-1:before {
    content: "\f00c";
}
.i-cross-1:before {
    content: "\e934";
}
.i-plus-1:before {
    content: "\e932";
}
.i-minus-1:before {
    content: "\e933";
}
.i-check-2:before {
    content: "\e116";
}
.i-cross-2:before {
    content: "\e117";
}
.i-plus-2:before {
    content: "\e114";
}
.i-minus-2:before {
    content: "\e115";
}
.i-cross-thin:before {
    content: "\e977";
}
.i-cross-sm:before {
    content: "\e870";
}
.i-facebook2:before {
    content: "\e617";
}
.i-linkedin2:before {
    content: "\e62c";
}
.i-twitter2:before {
    content: "\e651";
}
.i-google-p:before {
    content: "\e620";
}
.i-instagram2:before {
    content: "\e626";
}
.i-facebook-square2:before {
    content: "\f082";
}
.i-linkedin-square2:before {
    content: "\f08c";
}
.i-twitter-square2:before {
    content: "\f081";
}
.i-google-plus-square2:before {
    content: "\f0d4";
}
.i-instagram-square:before {
    content: "\f16d";
}
.i-facebook-o:before {
    content: "\e928";
}
.i-linkedin-o:before {
    content: "\e929";
}
.i-twitter-o:before {
    content: "\e92a";
}
.i-google-p-o:before {
    content: "\e92b";
}
.i-instagram-o:before {
    content: "\e92c";
}
.i-facebook-o-o:before {
    content: "\e05d";
}
.i-linkedin-o-o:before {
    content: "\e062";
}
.i-twitter-o-o:before {
    content: "\e05e";
}
.i-google-p-o-o:before {
    content: "\e05f";
}
.i-sms:before {
    content: "\e049";
}
.i-envelope2:before {
    content: "\e028";
}
.i-documents:before {
    content: "\e006";
}
.i-female2:before {
    content: "\f221";
}
.i-male2:before {
    content: "\f222";
}
.i-ellipsis:before {
    content: "\e129";
}
.i-eye-hidden:before {
    content: "\e91f";
}
.i-eye2:before {
    content: "\e920";
}
.i-poop:before {
    content: "\e806";
}
.i-exit-up:before {
    content: "\e868";
}
.i-switch:before {
    content: "\e05a";
}
.i-switch-2:before {
    content: "\31";
}
.i-switch-1:before {
    content: "\e619";
}
.i-ti-arrow-up:before {
    content: "\e627";
}
.i-ti-arrow-right:before {
    content: "\e628";
}
.i-ti-arrow-left:before {
    content: "\e629";
}
.i-ti-arrow-down:before {
    content: "\e62a";
}
.i-ti-arrows-vertical:before {
    content: "\e657";
}
.i-ti-arrows-horizontal:before {
    content: "\e658";
}
.i-ti-angle-up:before {
    content: "\e648";
}
.i-ti-angle-right:before {
    content: "\e649";
}
.i-ti-angle-left:before {
    content: "\e64a";
}
.i-ti-angle-down:before {
    content: "\e64b";
}
.i-ti-angle-double-up:before {
    content: "\e660";
}
.i-ti-angle-double-right:before {
    content: "\e661";
}
.i-ti-angle-double-left:before {
    content: "\e662";
}
.i-ti-angle-double-down:before {
    content: "\e663";
}
.i-ti-move:before {
    content: "\e656";
}
.i-ti-fullscreen:before {
    content: "\e659";
}
.i-ti-arrow-top-right:before {
    content: "\e65a";
}
.i-ti-arrow-top-left:before {
    content: "\e65b";
}
.i-ti-arrow-circle-up:before {
    content: "\e65c";
}
.i-ti-arrow-circle-right:before {
    content: "\e65d";
}
.i-ti-arrow-circle-left:before {
    content: "\e65e";
}
.i-ti-arrow-circle-down:before {
    content: "\e65f";
}
.i-ti-arrows-corner:before {
    content: "\e6be";
}
.i-ti-split-v:before {
    content: "\e675";
}
.i-ti-split-v-alt:before {
    content: "\e6d6";
}
.i-ti-split-h:before {
    content: "\e676";
}
.i-ti-hand-point-up:before {
    content: "\e71a";
}
.i-ti-hand-point-right:before {
    content: "\e71b";
}
.i-ti-hand-point-left:before {
    content: "\e71c";
}
.i-ti-hand-point-down:before {
    content: "\e71d";
}
.i-ti-back-right:before {
    content: "\e6bc";
}
.i-ti-back-left:before {
    content: "\e6bd";
}
.i-ti-exchange-vertical:before {
    content: "\e63f";
}
.i-ti-wand:before {
    content: "\e600";
}
.i-ti-save:before {
    content: "\e746";
}
.i-ti-save-alt:before {
    content: "\e747";
}
.i-ti-direction:before {
    content: "\e6a8";
}
.i-ti-direction-alt:before {
    content: "\e6a9";
}
.i-ti-user:before {
    content: "\e602";
}
.i-ti-link:before {
    content: "\e62d";
}
.i-ti-unlink:before {
    content: "\e604";
}
.i-ti-trash:before {
    content: "\e605";
}
.i-ti-target:before {
    content: "\e607";
}
.i-ti-tag:before {
    content: "\e608";
}
.i-ti-desktop:before {
    content: "\e640";
}
.i-ti-tablet:before {
    content: "\e609";
}
.i-ti-mobile:before {
    content: "\e622";
}
.i-ti-email:before {
    content: "\e75a";
}
.i-ti-star:before {
    content: "\e60a";
}
.i-ti-spray:before {
    content: "\e60b";
}
.i-ti-signal:before {
    content: "\e60c";
}
.i-ti-shopping-cart:before {
    content: "\e60d";
}
.i-ti-shopping-cart-full:before {
    content: "\e60e";
}
.i-ti-settings:before {
    content: "\e60f";
}
.i-ti-search:before {
    content: "\e610";
}
.i-ti-zoom-in:before {
    content: "\e611";
}
.i-ti-zoom-out:before {
    content: "\e612";
}
.i-ti-cut:before {
    content: "\e613";
}
.i-ti-ruler:before {
    content: "\e614";
}
.i-ti-ruler-alt-2:before {
    content: "\e6db";
}
.i-ti-ruler-pencil:before {
    content: "\e615";
}
.i-ti-ruler-alt:before {
    content: "\e616";
}
.i-ti-bookmark:before {
    content: "\e618";
}
.i-ti-bookmark-alt:before {
    content: "\e61a";
}
.i-ti-reload:before {
    content: "\e61b";
}
.i-ti-plus:before {
    content: "\e61c";
}
.i-ti-minus:before {
    content: "\e623";
}
.i-ti-close:before {
    content: "\e646";
}
.i-ti-pin:before {
    content: "\e61d";
}
.i-ti-pencil:before {
    content: "\e61e";
}
.i-ti-pencil-alt:before {
    content: "\e61f";
}
.i-ti-paint-roller:before {
    content: "\e624";
}
.i-ti-paint-bucket:before {
    content: "\e625";
}
.i-ti-na:before {
    content: "\e62b";
}
.i-ti-medall:before {
    content: "\e62e";
}
.i-ti-medall-alt:before {
    content: "\e62f";
}
.i-ti-marker:before {
    content: "\e630";
}
.i-ti-marker-alt:before {
    content: "\e631";
}
.i-ti-lock:before {
    content: "\e632";
}
.i-ti-unlock:before {
    content: "\e603";
}
.i-ti-location-arrow:before {
    content: "\e633";
}
.i-ti-layout:before {
    content: "\e634";
}
.i-ti-layers:before {
    content: "\e635";
}
.i-ti-layers-alt:before {
    content: "\e636";
}
.i-ti-key:before {
    content: "\e637";
}
.i-ti-image:before {
    content: "\e638";
}
.i-ti-heart:before {
    content: "\e639";
}
.i-ti-heart-broken:before {
    content: "\e63a";
}
.i-ti-hand-stop:before {
    content: "\e63b";
}
.i-ti-hand-open:before {
    content: "\e63c";
}
.i-ti-hand-drag:before {
    content: "\e63d";
}
.i-ti-flag:before {
    content: "\e63e";
}
.i-ti-flag-alt:before {
    content: "\e641";
}
.i-ti-flag-alt-2:before {
    content: "\e642";
}
.i-ti-eye:before {
    content: "\e643";
}
.i-ti-import:before {
    content: "\e644";
}
.i-ti-export:before {
    content: "\e647";
}
.i-ti-cup:before {
    content: "\e64c";
}
.i-ti-crown:before {
    content: "\e64d";
}
.i-ti-comments:before {
    content: "\e64e";
}
.i-ti-comment:before {
    content: "\e64f";
}
.i-ti-comment-alt:before {
    content: "\e650";
}
.i-ti-thought:before {
    content: "\e606";
}
.i-ti-clip:before {
    content: "\e652";
}
.i-ti-check:before {
    content: "\e653";
}
.i-ti-check-box:before {
    content: "\e654";
}
.i-ti-camera:before {
    content: "\e655";
}
.i-ti-announcement:before {
    content: "\e664";
}
.i-ti-brush:before {
    content: "\e665";
}
.i-ti-brush-alt:before {
    content: "\e727";
}
.i-ti-palette:before {
    content: "\e6e0";
}
.i-ti-briefcase:before {
    content: "\e666";
}
.i-ti-bolt:before {
    content: "\e667";
}
.i-ti-bolt-alt:before {
    content: "\e668";
}
.i-ti-blackboard:before {
    content: "\e669";
}
.i-ti-bag:before {
    content: "\e66a";
}
.i-ti-world:before {
    content: "\e66b";
}
.i-ti-wheelchair:before {
    content: "\e66c";
}
.i-ti-car:before {
    content: "\e6b5";
}
.i-ti-truck:before {
    content: "\e66d";
}
.i-ti-timer:before {
    content: "\e66e";
}
.i-ti-ticket:before {
    content: "\e66f";
}
.i-ti-thumb-up:before {
    content: "\e670";
}
.i-ti-thumb-down:before {
    content: "\e671";
}
.i-ti-stats-up:before {
    content: "\e673";
}
.i-ti-stats-down:before {
    content: "\e674";
}
.i-ti-shine:before {
    content: "\e678";
}
.i-ti-shift-right:before {
    content: "\e679";
}
.i-ti-shift-left:before {
    content: "\e67a";
}
.i-ti-shift-right-alt:before {
    content: "\e6d9";
}
.i-ti-shift-left-alt:before {
    content: "\e6da";
}
.i-ti-shield:before {
    content: "\e67b";
}
.i-ti-notepad:before {
    content: "\e67c";
}
.i-ti-server:before {
    content: "\e67d";
}
.i-ti-pulse:before {
    content: "\e680";
}
.i-ti-printer:before {
    content: "\e681";
}
.i-ti-power-off:before {
    content: "\e682";
}
.i-ti-plug:before {
    content: "\e683";
}
.i-ti-pie-chart:before {
    content: "\e684";
}
.i-ti-panel:before {
    content: "\e686";
}
.i-ti-package:before {
    content: "\e687";
}
.i-ti-music:before {
    content: "\e688";
}
.i-ti-music-alt:before {
    content: "\e689";
}
.i-ti-mouse:before {
    content: "\e68a";
}
.i-ti-mouse-alt:before {
    content: "\e68b";
}
.i-ti-money:before {
    content: "\e68c";
}
.i-ti-microphone:before {
    content: "\e68d";
}
.i-ti-menu:before {
    content: "\e68e";
}
.i-ti-menu-alt:before {
    content: "\e68f";
}
.i-ti-map:before {
    content: "\e690";
}
.i-ti-map-alt:before {
    content: "\e691";
}
.i-ti-location-pin:before {
    content: "\e693";
}
.i-ti-light-bulb:before {
    content: "\e695";
}
.i-ti-info:before {
    content: "\e697";
}
.i-ti-infinite:before {
    content: "\e698";
}
.i-ti-id-badge:before {
    content: "\e699";
}
.i-ti-hummer:before {
    content: "\e69a";
}
.i-ti-home:before {
    content: "\e69b";
}
.i-ti-help:before {
    content: "\e69c";
}
.i-ti-headphone:before {
    content: "\e69d";
}
.i-ti-harddrives:before {
    content: "\e69e";
}
.i-ti-harddrive:before {
    content: "\e69f";
}
.i-ti-gift:before {
    content: "\e6a0";
}
.i-ti-game:before {
    content: "\e6a1";
}
.i-ti-filter:before {
    content: "\e6a2";
}
.i-ti-files:before {
    content: "\e6a3";
}
.i-ti-file:before {
    content: "\e6a4";
}
.i-ti-zip:before {
    content: "\e672";
}
.i-ti-folder:before {
    content: "\e677";
}
.i-ti-envelope:before {
    content: "\e6a7";
}
.i-ti-dashboard:before {
    content: "\e6aa";
}
.i-ti-cloud:before {
    content: "\e6b1";
}
.i-ti-cloud-up:before {
    content: "\e6b2";
}
.i-ti-cloud-down:before {
    content: "\e6b3";
}
.i-ti-clipboard:before {
    content: "\e6b4";
}
.i-ti-calendar:before {
    content: "\e6b6";
}
.i-ti-book:before {
    content: "\e6b7";
}
.i-ti-bell:before {
    content: "\e6b8";
}
.i-ti-basketball:before {
    content: "\e6b9";
}
.i-ti-bar-chart:before {
    content: "\e6ba";
}
.i-ti-bar-chart-alt:before {
    content: "\e6bb";
}
.i-ti-archive:before {
    content: "\e6bf";
}
.i-ti-anchor:before {
    content: "\e6c0";
}
.i-ti-alert:before {
    content: "\e6c5";
}
.i-ti-alarm-clock:before {
    content: "\e6c6";
}
.i-ti-agenda:before {
    content: "\e6c7";
}
.i-ti-write:before {
    content: "\e6c8";
}
.i-ti-wallet:before {
    content: "\e6cd";
}
.i-ti-video-clapper:before {
    content: "\e6ce";
}
.i-ti-video-camera:before {
    content: "\e6cf";
}
.i-ti-vector:before {
    content: "\e6d0";
}
.i-ti-support:before {
    content: "\e6d4";
}
.i-ti-stamp:before {
    content: "\e6d5";
}
.i-ti-slice:before {
    content: "\e6d7";
}
.i-ti-shortcode:before {
    content: "\e6d8";
}
.i-ti-receipt:before {
    content: "\e6dc";
}
.i-ti-pin2:before {
    content: "\e6dd";
}
.i-ti-pin-alt:before {
    content: "\e6de";
}
.i-ti-pencil-alt2:before {
    content: "\e6df";
}
.i-ti-eraser:before {
    content: "\e6a5";
}
.i-ti-more:before {
    content: "\e6e1";
}
.i-ti-more-alt:before {
    content: "\e6e2";
}
.i-ti-microphone-alt:before {
    content: "\e6e3";
}
.i-ti-magnet:before {
    content: "\e6e4";
}
.i-ti-line-double:before {
    content: "\e6e5";
}
.i-ti-line-dotted:before {
    content: "\e6e6";
}
.i-ti-line-dashed:before {
    content: "\e6e7";
}
.i-ti-ink-pen:before {
    content: "\e716";
}
.i-ti-info-alt:before {
    content: "\e717";
}
.i-ti-help-alt:before {
    content: "\e718";
}
.i-ti-headphone-alt:before {
    content: "\e719";
}
.i-ti-gallery:before {
    content: "\e71e";
}
.i-ti-face-smile:before {
    content: "\e71f";
}
.i-ti-face-sad:before {
    content: "\e720";
}
.i-ti-credit-card:before {
    content: "\e721";
}
.i-ti-comments-smiley:before {
    content: "\e726";
}
.i-ti-time:before {
    content: "\e72b";
}
.i-ti-share:before {
    content: "\e72e";
}
.i-ti-share-alt:before {
    content: "\e72f";
}
.i-ti-rocket:before {
    content: "\e730";
}
.i-ti-new-window:before {
    content: "\e732";
}
.i-ti-rss:before {
    content: "\e75e";
}
.i-ti-rss-alt:before {
    content: "\e75f";
}
.i-ti-control-stop:before {
    content: "\e6ab";
}
.i-ti-control-shuffle:before {
    content: "\e6ac";
}
.i-ti-control-play:before {
    content: "\e6ad";
}
.i-ti-control-pause:before {
    content: "\e6ae";
}
.i-ti-control-forward:before {
    content: "\e6af";
}
.i-ti-control-backward:before {
    content: "\e6b0";
}
.i-ti-volume:before {
    content: "\e601";
}
.i-ti-control-skip-forward:before {
    content: "\e722";
}
.i-ti-control-skip-backward:before {
    content: "\e723";
}
.i-ti-control-record:before {
    content: "\e724";
}
.i-ti-control-eject:before {
    content: "\e725";
}
.i-ti-paragraph:before {
    content: "\e685";
}
.i-ti-uppercase:before {
    content: "\e67e";
}
.i-ti-underline:before {
    content: "\e67f";
}
.i-ti-text:before {
    content: "\e692";
}
.i-ti-Italic:before {
    content: "\e696";
}
.i-ti-smallcap:before {
    content: "\e694";
}
.i-ti-list:before {
    content: "\e6c1";
}
.i-ti-list-ol:before {
    content: "\e734";
}
.i-ti-align-right:before {
    content: "\e6c2";
}
.i-ti-align-left:before {
    content: "\e6c3";
}
.i-ti-align-justify:before {
    content: "\e6c4";
}
.i-ti-align-center:before {
    content: "\e6c9";
}
.i-ti-quote-right:before {
    content: "\e6ca";
}
.i-ti-quote-left:before {
    content: "\e6cb";
}
.i-ti-layout-width-full:before {
    content: "\e6e8";
}
.i-ti-layout-width-default:before {
    content: "\e6e9";
}
.i-ti-layout-width-default-alt:before {
    content: "\e6ea";
}
.i-ti-layout-tab:before {
    content: "\e6eb";
}
.i-ti-layout-tab-window:before {
    content: "\e6ec";
}
.i-ti-layout-tab-v:before {
    content: "\e6ed";
}
.i-ti-layout-tab-min:before {
    content: "\e6ee";
}
.i-ti-layout-slider:before {
    content: "\e6ef";
}
.i-ti-layout-slider-alt:before {
    content: "\e6f0";
}
.i-ti-layout-sidebar-right:before {
    content: "\e6f1";
}
.i-ti-layout-sidebar-none:before {
    content: "\e6f2";
}
.i-ti-layout-sidebar-left:before {
    content: "\e6f3";
}
.i-ti-layout-placeholder:before {
    content: "\e6f4";
}
.i-ti-layout-menu:before {
    content: "\e6f5";
}
.i-ti-layout-menu-v:before {
    content: "\e6f6";
}
.i-ti-layout-menu-separated:before {
    content: "\e6f7";
}
.i-ti-layout-menu-full:before {
    content: "\e6f8";
}
.i-ti-layout-media-right:before {
    content: "\e6fa";
}
.i-ti-layout-media-right-alt:before {
    content: "\e6f9";
}
.i-ti-layout-media-overlay:before {
    content: "\e6fb";
}
.i-ti-layout-media-overlay-alt:before {
    content: "\e6fc";
}
.i-ti-layout-media-overlay-alt-2:before {
    content: "\e6fd";
}
.i-ti-layout-media-left:before {
    content: "\e6ff";
}
.i-ti-layout-media-left-alt:before {
    content: "\e6fe";
}
.i-ti-layout-media-center:before {
    content: "\e701";
}
.i-ti-layout-media-center-alt:before {
    content: "\e700";
}
.i-ti-layout-list-thumb:before {
    content: "\e702";
}
.i-ti-layout-list-thumb-alt:before {
    content: "\e703";
}
.i-ti-layout-list-post:before {
    content: "\e704";
}
.i-ti-layout-list-large-image:before {
    content: "\e705";
}
.i-ti-layout-line-solid:before {
    content: "\e706";
}
.i-ti-layout-grid4:before {
    content: "\e707";
}
.i-ti-layout-grid3:before {
    content: "\e709";
}
.i-ti-layout-grid2:before {
    content: "\e70a";
}
.i-ti-layout-grid2-thumb:before {
    content: "\e70b";
}
.i-ti-layout-cta-right:before {
    content: "\e70c";
}
.i-ti-layout-cta-left:before {
    content: "\e70d";
}
.i-ti-layout-cta-center:before {
    content: "\e70e";
}
.i-ti-layout-cta-btn-right:before {
    content: "\e70f";
}
.i-ti-layout-cta-btn-left:before {
    content: "\e710";
}
.i-ti-layout-column4:before {
    content: "\e711";
}
.i-ti-layout-column3:before {
    content: "\e712";
}
.i-ti-layout-column2:before {
    content: "\e713";
}
.i-ti-layout-accordion-separated:before {
    content: "\e714";
}
.i-ti-layout-accordion-merged:before {
    content: "\e715";
}
.i-ti-layout-accordion-list:before {
    content: "\e728";
}
.i-ti-widgetized:before {
    content: "\e6cc";
}
.i-ti-widget:before {
    content: "\e6d1";
}
.i-ti-widget-alt:before {
    content: "\e6d2";
}
.i-ti-view-list:before {
    content: "\e6d3";
}
.i-ti-view-list-alt:before {
    content: "\e729";
}
.i-ti-view-grid:before {
    content: "\e72a";
}
.i-ti-upload:before {
    content: "\e72c";
}
.i-ti-download:before {
    content: "\e72d";
}
.i-ti-loop:before {
    content: "\e731";
}
.i-ti-layout-sidebar-2:before {
    content: "\e736";
}
.i-ti-layout-grid4-alt:before {
    content: "\e737";
}
.i-ti-layout-grid3-alt:before {
    content: "\e738";
}
.i-ti-layout-grid2-alt:before {
    content: "\e739";
}
.i-ti-layout-column4-alt:before {
    content: "\e73a";
}
.i-ti-layout-column3-alt:before {
    content: "\e73b";
}
.i-ti-layout-column2-alt:before {
    content: "\e73c";
}
.i-ti-flickr:before {
    content: "\e740";
}
.i-ti-flickr-alt:before {
    content: "\e759";
}
.i-ti-instagram:before {
    content: "\e73d";
}
.i-ti-google:before {
    content: "\e73e";
}
.i-ti-github:before {
    content: "\e73f";
}
.i-ti-facebook:before {
    content: "\e741";
}
.i-ti-dropbox:before {
    content: "\e742";
}
.i-ti-dropbox-alt:before {
    content: "\e75c";
}
.i-ti-dribbble:before {
    content: "\e743";
}
.i-ti-apple:before {
    content: "\e744";
}
.i-ti-android:before {
    content: "\e745";
}
.i-ti-yahoo:before {
    content: "\e748";
}
.i-ti-trello:before {
    content: "\e74d";
}
.i-ti-stack-overflow:before {
    content: "\e74e";
}
.i-ti-soundcloud:before {
    content: "\e74f";
}
.i-ti-sharethis:before {
    content: "\e750";
}
.i-ti-sharethis-alt:before {
    content: "\e751";
}
.i-ti-reddit:before {
    content: "\e752";
}
.i-ti-microsoft:before {
    content: "\e733";
}
.i-ti-microsoft-alt:before {
    content: "\e754";
}
.i-ti-linux:before {
    content: "\e755";
}
.i-ti-jsfiddle:before {
    content: "\e756";
}
.i-ti-joomla:before {
    content: "\e757";
}
.i-ti-html5:before {
    content: "\e758";
}
.i-ti-css3:before {
    content: "\e75d";
}
.i-ti-drupal:before {
    content: "\e75b";
}
.i-ti-wordpress:before {
    content: "\e749";
}
.i-ti-tumblr:before {
    content: "\e735";
}
.i-ti-tumblr-alt:before {
    content: "\e74c";
}
.i-ti-skype:before {
    content: "\e74a";
}
.i-ti-youtube:before {
    content: "\e74b";
}
.i-ti-vimeo:before {
    content: "\e753";
}
.i-ti-vimeo-alt:before {
    content: "\e760";
}
.i-ti-twitter:before {
    content: "\e761";
}
.i-ti-twitter-alt:before {
    content: "\e762";
}
.i-ti-linkedin:before {
    content: "\e763";
}
.i-ti-pinterest:before {
    content: "\e764";
}
.i-ti-pinterest-alt:before {
    content: "\e765";
}
.i-ti-themify-logo:before {
    content: "\e766";
}
.i-ti-themify-favicon:before {
    content: "\e767";
}
.i-ti-themify-favicon-alt:before {
    content: "\e768";
}
.i-ti-window:before {
    content: "\e769";
}

